#pane{
	
    	-fx-background-image: url("background.png");
    	-fx-background-repeat: stretch;   
    	-fx-background-size: 900 506;
    	-fx-background-position: center center;
	-fx-background-size: stretch;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
}

#gamepane{
	
    	-fx-background-image: url("res/gameBackground.png");
    	-fx-background-repeat: stretch;   
    	-fx-background-size: 1080 720;
    	-fx-background-position: center center;
	-fx-background-size: stretch;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
}

#titleText{
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#topBox{
	-fx-position-top: 100px;
}

.logbutton{
	-fx-background-color: white;
	-fx-background-radius: 0;
}

.logbutton:hover{
	-fx-cursor:hand;
}

.createAcc{
	-fx-background-color: transparent;
	-fx-text-decoration: underline;
	-fx-text-fill: white;
}

.createAcc:hover{
	-fx-cursor:hand;
}


.settings{
	-fx-graphic: url("settings.png");
	-fx-background-color: transparent;
}

.settings:hover{
	-fx-graphic: url("settingsSelected.png");
	-fx-background-color: transparent;
	-fx-cursor:hand;
}

.profile{
	-fx-graphic: url("profile.png");
	-fx-background-color: transparent;
}

.profile:hover{
	-fx-graphic: url("profileSelected.png");
	-fx-background-color: transparent;
	-fx-cursor:hand;
}

.leaderboards{
	-fx-graphic: url("leaderboards.png");
	-fx-background-color: transparent;
}

.leaderboards:hover{
	-fx-graphic: url("leaderboardsSelected.png");
	-fx-background-color: transparent;
	-fx-cursor:hand;
}

.join{
	-fx-graphic: url("join.png");
	-fx-background-color: transparent;
}

.join:hover{
	-fx-graphic: url("joinSelected.png");
	-fx-background-color: transparent;
	-fx-cursor:hand;
}

.host{
	-fx-graphic: url("host.png");
	-fx-background-color: transparent;
}

.host:hover{
	-fx-graphic: url("hostSelected.png");
	-fx-background-color: transparent;
	-fx-cursor:hand;
}

.backarrow{
	-fx-graphic: url("backarrow.png");
	-fx-background-color: transparent;
}

.backarrow:hover{
	-fx-graphic: url("backarrowSelected.png");
	-fx-background-color: transparent;
	-fx-cursor: hand;
}



	

