#pane{
    	-fx-background-image: url("background.png");
    	-fx-background-repeat: stretch;   
    	-fx-background-size: 900 506;
    	-fx-background-position: center center;
	-fx-background-size: stretch;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
}

#titleText{
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#topBox{
	-fx-position-top: 100px;
}

.logbutton{
	-fx-background-color: white;
	-fx-background-radius: 0;
}



	

